.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  height: calc(100vh - 2rem);
}

.main {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerTitle {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 1rem;
    padding: 5px;
    font-family: "Play", sans-serif;
    font-weight: 200;
  }
  h1 {
    font-size: 3.7rem;
    padding: 5px;
  }
}
.containerImg {
  span {
    border-radius: 40% 10px 30% 10px;
  }
}

@media (max-width: 910px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .containerTitle {
    height: 300px;
    width: 50%;

    h1 {
      font-size: 2.9rem;
      padding: 5px;
    }
  }
}

@media (max-width: 600px) {
  .containerTitle {
    height: 300px;
    width: 100%;

    h1 {
      font-size: 2.9rem;
      padding: 5px;
    }
  }
}
@media (max-width: 350px) {
  .containerTitle {
    height: 300px;
    width: 100%;

    h1 {
      font-size: 2.2rem;
      padding: 5px;
    }
  }
}
